<form #addTeamForm="ngForm" (ngSubmit)="addTeam(addTeamForm)">
    <h3>Team Information</h3>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control"
                placeholder="Team Name">
        </div>
    </div>
    <div class="form-row">
        <!-- <div class="form-group col-md-4">
            <label>Country</label>
            <input type="text" #country (ngModel)="country" name="country" id="country" class="form-control" placeholder="Country Name">
        </div> -->
        <div class="form-group col-md-4">
            <select #country (ngModel)="country" name="country" id="country" class="form-select"
                aria-label="Default select example">
                <option selected>Choose country</option>
                <option value="Argentina">Argentina</option>
                <option value="Australia">Australia</option>
                <option value="Brazil">Brazil</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Iran">Iran</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Nethrelands">Nethrelands</option>
                <option value="Poland">Poland</option>
                <option value="Serbia">Serbia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="United States">United States</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Year</label>
            <input type="text" #creation_year (ngModel)="creation_year" name="creation_year" id="creation_year"
                class="form-control" placeholder="Year">
        </div>
        <div class="form-group col-md-1">
            <label>Month</label>
            <input type="text" #creation_month (ngModel)="creation_month" name="creation_month" id="creation_month"
                class="form-control" placeholder="Month">
        </div>
        <div class="form-group col-md-1">
            <label>Day</label>
            <input type="text" #creation_day (ngModel)="creation_day" name="creation_day" id="creation_day"
                class="form-control" placeholder="Day">
        </div>
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary">Add Team</button>
    </div>
</form>