<form #getForm="ngForm">
    <div class="form-row">
        <!-- <div class="col">
            <input type="text" #name [(ngModel)]="name" name="name" id="name" class="form-control" placeholder=""/>
        </div> -->
        <!-- <div class="col">
            <input type="text" #country [(ngModel)]="team.country" name="country" id="country" class="form-control" placeholder="">
        </div>
        <div class="col">
            <input type="text" #creation_year [(ngModel)]="team.creation_year" name="year" id="year" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-1">
            <input type="text" #creation_month [(ngModel)]="team.creation_month" name="month" id="month" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-1">
            <input type="text" #creation_day [(ngModel)]="team.creation_day" name="day" id="day" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-1">
            <input type="text" #member_name [(ngModel)]="member_name" name="member_name" id="member_name" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-1">
            <input type="text" #member_age [(ngModel)]="member_age" name="age" id="age" class="form-control" placeholder="">
        </div>
        <div class="form-group col-md-1">
            <input type="text" #member_olympics_participation [(ngModel)]="member_olympics_participation" name="olympics" id="olympics" class="form-control" placeholder="">
        </div> -->
    </div>
</form>
<button type="button" routerLink="/teams/list" class="btn btn-primary">Back List Teams</button>